<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
    <link rel="stylesheet"  href="{{url_for('static',filename = 'style.css')}}">
</head>
<body>
    <h1>Add New User Details</h1>
    <form action="" method="post">
        <input type="text" name="name" required placeholder="Enter Name">
        <input type="text" name="age" required placeholder="Enter Age">
        <input type="text" name="city" required placeholder="Enter City">
        <button type="submit">Save Details</button>
    </form>
</body>
</html>