<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit-Page</title>
    <link rel="stylesheet"  href="{{url_for('static',filename = 'style.css')}}">
</head>
<body>
    <h1>Update User Details</h1>
    <form action="" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" value="{{datas.NAME}}">
        <label for="age">Age</label>
        <input type="text" name="age" value={{datas.AGE}}>
        <label for="city">City</label>
        <input type="text" name="city" value="{{datas.CITY}}">
        <button type="submit">Update</button>
    </form>
</body>
</html>